*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;
    background: #f5f5f5;
}

h2{
    color: #0974b3;
}

p{
    padding-bottom: 10px;
    padding-left: 10px;
}

img{
    width: 150px;
    float: left;
    margin-right: 25px;
    margin-bottom: 4px;
}

div{
    padding-left: 10px;
    padding-top: 20px;
    width: 435px;
    height: 400px;
    background: #ffffff;
    border-top: 4px solid #0974b3;
    margin-right: 30px;
    margin-bottom: 30px;
    /* display: inline-block; */
}

.big{
    width: 905px;
}

.inline{
    display: inline-block;
}